<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-default form-style">
            <h2>Final Signup Step</h2>
            <h4>This is the ginal step to give full access to <%= current_user.email %></h4>
            <%= render 'form' %>
        </div>
    </div>
</div>