<footer id="footer">
    <div>
    <p></p>
        <div class="text-center list-footer">
          <img src="/images/stita-members-favicon.png" alt="STITA Members" width="30px" length="30px">
          <span class="des"> © STITA Members Web App <%= Time.current.year %> Created by <a href="http://anstroy.github.io/">Anstroy</a></span>
          <br >
          <span class="des"> v1.1 Production</span>
        </div>
      </div>
</footer>