<footer class="text-center">
    <hr />
    <div id="alllist-footer">
        <div class="list-footer">
          <img src="/logo.png" alt="STITA Members">
          <span class="des"> © <%= Time.current.year %> Created by <a href="http://anstroy.github.io/">Anstroy</a></span>
          <br >
          <span class="des"> v1.0 Production</span>
        </div>
      </div>
</footer>